<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Register Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- From https://getbootstrap.com/ -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <!-- From https://angularjs.org/ -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
        <script>
            var pcApp = angular.module('pcApp', []);
            pcApp.controller('associateCtrl', function($scope, $http) {
                var baseUrl = '/Final_Project/api/associate';
                $scope.associateList = [];
                function getAssociates() {
                    $http.get(baseUrl).then(
                        function(associates){
                            $scope.associateList = associates.data;
                        },
                        function(error){
                            alert(error.message);
                        });
                }
                getAssociates();
                $scope.addAssociate = function() {
                    newAssociate = {
                        associateId: $scope.newAssociateId,
                        username: $scope.newUsername,
                        password: $scope.newPassword,
                        fName: $scope.newFName,
                        lName: $scope.newLName
                    };
                    $http.post(baseUrl, newAssociate).then(
                        function() {
                            // Timeout needed because updates happen too fast
                            setTimeout(getAssociates(), 500);
                        },
                        function(error){
                            alert(error.message);
                        }
                    );
                };
                
                $scope.editAssociate = function() {
                    editAssociates = {
                        associateId: $scope.editAssociateId,
                        username: $scope.editUsername,
                        password: $scope.editPassword,
                        fName: $scope.editFName,
                        lName: $scope.editLName
                    };
                    $http.put(baseUrl + '/' + $scope.editAssociateId, editAssociates).then(
                        function() {
                            setTimeout(getAssociates(), 500);
                        },
                        function(error){
                            alert(error.message);
                        }
                    );
                };
                
                $scope.delAssociate = function() {                    
                    $http.delete(baseUrl + '/' + $scope.del).then(
                        function() {
                            setTimeout(getAssociates(), 500);
                        },
                        function(error){
                            alert(error.message);
                        }
                    );
                };
            });
        </script>
        <link href="CSS/background.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div ng-app="pcApp">
            <div ng-controller="associateCtrl">
                <div class="jumbotron big-banner" style="height: 1000px; padding-top: 150px;">
                    <div class="container text-center">
                        <h1>Create A New Account</h1>
                        <div class="form-group">
                            <label>User ID <input class="form-control" ng-model="newId" /></label>
                        </div>
                        <div class="form-group">
                            <label>Username <input class="form-control" ng-model="newUsername" /></label>
                        </div>
                        <div class="form-group">
                            <label>Password <input class="form-control" ng-model="newPassword" /></label>
                        </div>
                        <div class="form-group">
                            <label>First Name <input class="form-control" ng-model="newFirstName" /></label>
                        </div>
                        <div class="form-group">
                            <label>Last Name <input class="form-control" ng-model="newLastName" /></label>
                        </div>
                        <button class="btn btn-success" ng-click="addAssociate()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

