/*
css for the login page - K.O
*/
/* 
    Created on : Apr 10, 2019, 8:03:29 PM
    Author     : c0710986
*/
.big-banner{
    background-image: url('../images/riley-mccullough-196374-unsplash.jpg');
    background-size: 100%;
}
