/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2019, 9:05:37 PM
    Author     : c0710986
*/

.big-banner{
    background-image: url('../images/dan-burton-1158123-unsplash.jpg');
    background-size: 100%;
}